* {
  list-style: none;
}

body {
  margin: 0px;
  padding: 0px;
}

header {
}

nav {
  background-color: #34312d;
  height: 100px;
}

h1 {
  color: #7e7f83;
  position: absolute;
  padding: 12px;
  float: left;
  margin-left: 1%;
}

ul {
  float: right;
}

li {
  display: inline-block;
  padding: 20px 40px;
  font-size: 20px;
}
